.more {
  display: none;
  margin-left: 1.2rem;
  width: 40rem;
  padding: 2px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font: inherit;
  /* font-family: "PT Serif", serif; */
  font-family: Arial;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font: inherit;
  background-color: #f1f1f1;
  background-image: linear-gradient(to right, #EFEFEF, #f1f1f1);
}
header {
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  background-color: #000;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font: inherit;
  vertical-align: baseline;
  padding-top: 20px;
  height: 5rem;
  width: 100%;
  min-width: 62rem;
}

section {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font: inherit;
  vertical-align: baseline;
  padding-top: 0.5rem;
  margin-bottom: 10px;

}
section#email {
  background-color: #E1E1E1;;
  font-family: Miller,Georgia,serif;
  font-size: 14px;
  color: #00;
  height: 1.5rem;
  width: 100%;
  min-width: 62rem;
}
div.wrapperh {
  width: 45rem;
  margin: 0px auto;
  position: absolute;
  left: 230px;
  font-size: 2.8rem;
  line-height: 3.75rem;
}

div.wrapper {
  width: 45rem;
  margin: 0px auto;
  position: absolute;
  left: 230px;

}
div.wwrapper {
  width: 40rem;
  margin: 0px auto;
  position: relative;
  margin-left: 5rem;

}
div.plicense {
  /*width: 255px;*/
  text-align: center;
  align-content: : center;
  /*background-color: #ff00ff;*/
}
div.figures {
  width: 40rem;
  margin: 0px auto;
  position: relative;
  margin-left: 0rem;
  position: absolute;
  top: 8rem;
  left: 2rem;
}
font.translation {
  font-weight:normal;
  text-decoration: none;
}

h2 {
  color: #333333;
  font-size: 1.0rem;
  font-weight:bold;
  font-style:normal;
  margin: 0.5rem 0rem 0.5rem -0.5rem;
}

h3 {
  color: #333333;
  font-size: 1.0rem;
  font-weight:bold;
  font-style:normal;
  margin: 0.5rem 0rem 0.5rem -0.5rem;
}

h1 {
  color: #000000;
  font-size: 1.8rem;
  font-weight:bold;
}


p {
  font-size: 1.0rem;
  line-height: 1.4rem;
  text-align: left;
}

p.desc {
  font-size: 1.0rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
  text-align: justify;
  color: #000;

}

p.researchdesc {
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-align: justify;

}


p.license {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 0.5rem;
  line-height: 0.6rem;
  text-align: center;
  width: 10rem;
  /*width: 100%;*/
  /*padding-left: 15rem;*/
  padding-top: 1rem;
  /*width: 45rem;*/
}
font.news {
  font-family: "NHG","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
table.news {
  font-family: "PT Serif", serif;
  font-size: 0.8rem;
  line-height: 1.1rem;
  vertical-align: top;
  margin-top: -0.5rem;


}
table, th, td {
  /* border: 1px solid black; */
  /* vertical-align: top; */
  padding: 5px;
}
td {
  /* border-top: 1px solid #ccc; */
  border-bottom: 1px solid #777;
}
td img{
display: block;
margin-left: auto;
margin-right: auto;
}

img.graphs {
  border:2px solid #000;
  margin: -5px -4px;
}

img.arxiv {
  margin: 0rem 0.1rem -0.25rem 0.2rem ;
  height: 1.0rem;

}

img.doi {
  margin: 0rem 0.1rem -0.2rem 0.2rem ;
  height: 1.0rem;

}

img.download {
  margin: 0rem 0.1rem -0.3rem 0.2rem ;
  height: 1.2rem;
}

img.images {
  border:1px solid #021a40;
}

div.buttons {
  display:inline;
  margin-left: 0.2rem;
  white-space: nowrap;
 }

div.publications {
 margin-left: 1.2rem;
 width: 40rem;
 padding: 2px;
 }
dl {
  list-style: none;
  margin-left: 0rem;
  padding-left: 0.0rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
}
dd {
  margin-left: 0.0rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
dd.info {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
}
dd.infoa {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-style: normal;
}
dd.infow {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-style: italic;
}

dt {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0.3rem;
  padding-left: 0.0rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: normal;
}
a.preprint {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0.3rem;
  padding-left: 0.0rem;
  font-size: 0.9rem;
  line-height: 1.1rem;
  text-decoration: normal;
  font-weight: normal;
}
a:link {
    color: #2060BA;
    text-decoration: none;
}
a:visited {
  color: #2060BA;
  text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: underline;

}
a:active {
    color: red;
}

a.paper_link {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0.3rem;
  padding-left: 0.0rem;
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-decoration: none;
  font-weight: bold;
}

a.post_title {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0.3rem;
  padding-left: 0.0rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

a.post_link {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0.3rem;
  padding-left: 0.0rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

a.post_date {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0.3rem;
  padding-left: 0.0rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

a.post_author {
  list-style: none;
  margin-left: 0rem;
  margin-top: 0.3rem;
  padding-left: 0.0rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

div.post p {
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: justify;
}

.morea {
  font-size: 0.9rem;
  text-align: left;
  font-style: bold;
}
